.slide.section#The_War
  .background iwo_jima_ww2.jpg

  %h1 The War

.slide.subsection#The_Lay_of_the_Land
  .background scenery-mountains.jpg

  %h1 Lay of the Land

.slide.subsection#15_Minute_Code_Review

  %h2 Are you in a rescue mission?

  %h1 The 15 minute code review

  = image_tag "/images/stopwatch.jpg", :height => "50%"

.slide
  .background model_city.jpg
  %h1 <em>1:</em> Models

.slide

  %h3 Too many models?

  :code
    $ ls app/models/ | wc -l
    68

.slide

  %h3 No tests?

  :code
    $ grep -lR "assert true" test/unit
    test/unit/file_upload_test.rb
    test/unit/notification_test.rb
    test/unit/status_update_test.rb
    test/unit/sysops_alerts_mailer_test.rb
    ...
  
.slide

  %h3 Empty models?
  :rubycode
    # app/models/person.rb 
    class Person < ActiveRecord::Base
      # Tumbleweeds...
    end

.slide

  %h2 Lots of Raw SQL

  :rubycode
    connection.update_sql("
      UPDATE accounts
      SET #{opts[:from]} = #{opts[:from]} - 1
      WHERE accounts.id = #{connection.quote(self.id)}
        AND #{opts[:from]} >= 1;")

.slide
  .background giant-Nintendo-NES_controller_DIY.jpg

  %h1 <em>2:</em> Controllers

.slide

  %h3 Non-RESTful controllers

  :code
    $ egrep -hR '^ *def ' app/controllers/ | \
      egrep -v '(index|show|create|edit|new|destroy)'
    def redirect_on_utm_source
    def find_user
    def assign_profile_referral
    def set_invite_count
    def confirm
    def deny
    def models
    ...600 more...

.slide

  %h3 Pseudo-validations in create actions

  .small
    :rubycode
      def create
        ...
        # Just a few sanity checks...
        if params[:title].nil? || params[:title].length <= 3
          reason = "missing title"
        elsif params[:title].length > 40
          reason = "Title must be shorter than 40 characters."    
        elsif params[:description].nil? || params[:description].length <= 3
          reason = "Missing description"
        elsif params[:description].length > 140
          reason = "Description must be no longer than 140 characters."
        elsif params[:duration].nil? 
          reason = "Missing duration"
        # ... about a dozen more...

.slide
  .background monolith.jpg

  %div
    %h2 Monolithic controllers

    %h3 (Three controllers and a zillion actions)

.slide
  .background open-gate.jpg

  %h1 Custom authentication 

.slide

  %h1 <em>3:</em> Views

  = image_tag "/images/Brass-telescope.jpg", :height => "60%"

.slide

  %h3 PHP code?

  .smaller
    :rubycode
      <% if flash[:create_form] && flash[:create_form][:status] == :fail 
           flash_error = flash[:create_form][:reason]
           flash_style = ''
         elsif flash[:paypal_purchase] && flash[:paypal_purchase][:status] == :success && flash[:prize_info]
           flash_error = 'Your votes have been added to your account, now press "Create your contest" to start your prize!'
           flash_style = ''
         elsif flash[:card_purchase] && flash[:card_purchase][:status] == :success && flash[:prize_info]
           flash_error = 'Your votes have been added to your account, now press "Create your contest" to start your prize!'
           flash_style = ''
         else
           flash_error = ''
           flash_style = 'style="display:none;"'
         end  -%>      
            <p class="main error"<%= flash_style %>><%= flash_error %></p>
      
.slide

  %h2 Inconsistent file structure

  %h3 <tt>app/views/www/home/list.rhtml</tt>

.slide

  %h2 Poor HTML

  .smaller
    :htmlcode
      <div id="login_modal" style="display:none;"> <form 
      method="post" id="login_form" action="/auth/login">
      <ul id="pp_login_form" class="clearfix"> <li class="first"
      ><h3>Log In</h3></li> <li><p>user/email:</p></li> <
      li><input type="text" value="" maxlength="48" name="login" 
      id="login"/></li> <li><p>password:</p></li> <li>
      <input type="password" value="" maxlength="48" 
      name="password" id="password"/></li> <li><
      input type="image" src="/images/buttons/btn_mini_log_in.png"
      /></li> </ul> </form></div>
  

.slide

  %h2 Layout code in the views

.slide
  .background duplication.jpg

  %h2 Duplication

.slide
  .background books.jpg

  %h1 <em>4:</em> Libraries

.slide

  %h2 Reinventing the Wheel

  = image_tag "/images/stone-wheel.jpeg", :height => "60%"

.slide

  %h3 Lots of Duck Punching

  = image_tag "/images/duck-punching.jpg", :height => "60%"

.slide

  %h1 <em>5:</em> Danger signs

  = image_tag "/images/cthulhuwarn.png", :height => "60%"

.slide

  %h3 Huge files.

  :code
    $ wc -l $(find app -name "*.rb") | sort -rn
    2022 app/models/user.rb
    1333 app/controllers/user/payments_controller.rb
    1219 app/models/photoset.rb
    ...

.slide
  .background peewees-bike.jpg

  %h1 Feature bloat

.slide

  %h1 Bad Ruby Style

.slide

  %h1 Gratuitous Metaprogramming

  :rubycode
    def create_method(name, &block)
      self.class.send(:define_method, name, &block)
    end
    ...
    # My God, Why???
    post.create_method(:voters) {o.voters} 

.slide

  = image_tag "/images/burning_eyes.jpg", :height => "100%"

.slide.section#Causes

  %h1 Causes

.slide

  %h1 How did the project get here?
  %h2 Technical, Process, or Personal reasons?

.slide

  %h1 Technical Reasons:

.slide

  %h2 Hard technical problems?

.slide

  %h2 Poor developers?

.slide

  %h1 Process Reasons:

.slide

  %h2 Technical Debt

.slide

  %h2 Lack of constant refactoring?

.slide

  %h1 Personality Reasons:

.slide

  %h2 Lack of focus on quality

.slide

  %h2 Artificial deadlines?

.slide.subsection#The_Big_Question
  .background questions.jpg

  %div
    %h3 The <em>Big</em> Question:
    %h1.inc Should you take this project?

.slide
  .background superman.jpg

  %h1 Can you fix this?

.slide

  %h3 Are the technical issues surmountable?  
  %h3 Are the bad developers still there?  Are they trainable?
  %h3 Do you really believe you can fix the <em>non technical issues</em>?

.slide
  .background hiding_elephant.jpg

  %h1 Visibility

.slide

  %h1 If this works... 
  %h2 Will the client send good work next time?  

.slide

  %h1 If this fails... 
  %h2 Will it have my name all over it?

.slide
  .background money.jpg

  %h1 How much?

