= partial "railsconf-2010/introduction"
= partial "railsconf-2010/war"
= partial "railsconf-2010/strategy"
= partial "railsconf-2010/tactics"
= partial "railsconf-2010/models"
= partial "railsconf-2010/views"
= partial "railsconf-2010/controllers"
= partial "railsconf-2010/old"
